@font-face {
    font-family: "BB";
    src: url(fonts/bb-book-B-ultraexpanded.otf);
}
@font-face {
    font-family: "BB2";
    src: url(fonts/bb-book-B-expanded.otf);
}
@font-face {
    font-family: "BB3";
    src: url(fonts/bb-book-B-regular.otf);
}

html {
	cursor: url('sparkle.png') 51 32, auto;
}

body {
	font-family: 'BB', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -1px;
	text-align: left;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: black;
}

div {
	width: 100%;
	float: left;
}

.justify {
	text-align-last: justify;
	text-align: justify;
}

.artdirection {
	font-size: 16px;
	line-height: normal;
}

.description {
	width: 100%;
}

#container {
	width: 1000px;
	margin: 25px auto;
	float: none;
	clear: both;
}

#footer {
	width: 800px;
}

#sniffer {
	width: 200px;
}

#words {
	font-family: 'BB2';
}

figure {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

figcaption {
	position: fixed;
	z-index: 9998;
	background: black;
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	bottom: 0;
	display: none;
}

figure:hover figcaption {
	display: block;
}

/* STYLE --------------- */

.titles {
	font-family: 'BB';
	text-transform: uppercase;
}

.footnotes {
	font-family: Courier, monospace;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	letter-spacing: normal;
}

hr { 
	width: 100%;
	display: block;
    border: 3px solid white;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 0.25em 0 0.1em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0;
}
    
img {
	max-width: 100%;
	max-height: 750px;
	padding: 0;
	display: block;
    margin-bottom: 50px;
    margin-right: 25px;
    float: left;
	border-style: none;
	text-decoration: none;
}

img.half {
	max-width: 48%;
	float: left;
	margin-right: 1%
}

img.alyssa {
	max-width:30%;
	margin-right: 3.33%;
	float: left;
}

iframe {
	margin-bottom: 50px;
}

blockquote {
	font-size:26px;
	line-height: 30px;
}

video {
	display: block;
	margin:0;
    padding:0;    
}

::selection { background: #53d5f4; color: white; text-shadow: none; /* Safari */ }
::-moz-selection { background: #53d5f4; color: white; text-shadow: none; /* Firefox */ }


/* MARQUEE ------------- */
.marquee {
    animation: scroll-right-left 20s linear infinite;
    position: fixed;
	bottom: 0;
	left: 0;
	white-space: nowrap;
    overflow: hidden;
}

@keyframes scroll-right-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


/* LINKS --------------- */

a:link {
	font-family: 'BB2';
	text-decoration:none;
	color: white;
	font-weight: bold;
}

a:visited {
	text-decoration:none;
	color: white;
}

a:hover{
	text-decoration:none;
	color: #53d5f4;
	cursor: url('sparkle.png') 51 32, pointer;
}

a:active {
	text-decoration:none;
	color: #53d5f4;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:900px){

	#container {
		width: 98%;
	}

}

@media screen and (max-width:680px){
	
	body {
		font-size: 20px;
		line-height: 24px;
	}
	
	#container {
		margin: 2% 2%;
		width: 96%;
	}
	
	img {
		max-width: 100%;
	}

	img.half {
		max-width: 100%;
		margin-right: 25px;
	}

	video {
		width: 100% !important;
		height: auto !important;
	}

	iframe {
		margin: 0;
		width: 98%;
		height: 400px;
		float: left;
	}

	img.alyssa {
		max-width:100%;
		max-height: 100%;
		margin-right: 0;
	}

	figcaption {
		width: 100%;
		left: 0;
	}
}

#zeena {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: url(images/zeena.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right; 
	animation: border-flicker 15s ease infinite;
	pointer-events: none;
	z-index: 9999;
}

@keyframes border-flicker {
  0% {
    opacity:0;
  }
  98% {
    opacity:0;
  }
  98.25% {
    opacity:0.1;
  }
  98.5% {
    opacity:1;
  }
  98.75% {
    opacity:0.1;
  }
  99% {
    opacity:1;
  }
  99.5% {
    opacity:0.7;
  }
  99.75% {
    opacity:1;
  }
  100% {
    opacity:0.5;
  }
}
