html {
	cursor: url('sparkle.png') 51 32, auto;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: normal;
	text-align: left;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: black;
}

div {
	width: 100%;
	float: left;
}

header {
	position: fixed;
	top: 2%;
	left: 1.2%;
	z-index: 9999;
}

.description {
	width: 100%;
}

#container {
	width: 1200px;
	margin: 25px auto;
	float: none;
	clear: both;
}

#about {
	font-size: 40px;
	line-height: 45px;
}

#footer {
	width: 100%;
	font-size: 20px;
	line-height: normal;
	margin-bottom: 25px;
	text-align: center;"
}

figure {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

figcaption {
	position: fixed;
	z-index: 9998;
	background: black;
	width: 1200px;
	margin: 0 auto;
	padding: 10px 0 20px 0;
	bottom: 0;
	display: none;
	line-height: normal;
}

figure:hover figcaption {
	display: block;
}

/* STYLE --------------- */


hr { 
	width: 100%;
	display: block;
    border: 3px solid white;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 0.25em 0 0.1em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0;
}
    
img {
	width: 100%;
	padding: 0;
	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2%;
  margin-top: 0;
  text-align: center;
	border-style: none;
	text-decoration: none;
}

video {
	width: 100%;
	height: auto;
	border: 0;
	margin: 0 0 3% 0;
	padding: 0;
	display: block;
	line-height: 0;
}

img.half {
	max-width: 48%;
	float: left;
	margin-right: 1%
}

img.alyssa {
	max-width:30%;
	margin-right: 3.33%;
	float: left;
}

iframe {
	margin-bottom: 50px;
}

blockquote {
	font-size:26px;
	line-height: 30px;
}

video {
	display: block;
	margin:0;
    padding:0;    
}

::selection { background: #53d5f4; color: white; text-shadow: none; /* Safari */ }
::-moz-selection { background: #53d5f4; color: white; text-shadow: none; /* Firefox */ }


/* MARQUEE ------------- */
.marquee {
    animation: scroll-right-left 20s linear infinite;
    position: fixed;
	bottom: 0;
	left: 0;
	white-space: nowrap;
    overflow: hidden;
}

@keyframes scroll-right-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


/* LINKS --------------- */

a:link {
	text-decoration:underline;
	color: white;
}

a:visited {
	text-decoration:underline;
	color: white;
}

a:hover{
	text-decoration:none;
	color: white;
	cursor: url('sparkle.png') 51 32, pointer;
}

a:active {
	text-decoration:none;
	color: white;
}




/* RESPONSIVE ----------------------------- */

@media screen and (max-width:900px){

	#container {
		width: 98%;
	}

	header {
		position: static;
		margin-bottom: 7%;
		top: 1%;
	}

	figcaption {
		width: 100%;
		padding: 2%;
		left: 0;
	}

}

@media screen and (max-width:680px){
	
	body {
		font-size: 20px;
		line-height: 24px;
	}
	

	#container {
		margin: 2% 2%;
		width: 96%;
	}


	video {
		width: 100% !important;
		height: auto !important;
	}

	iframe {
		margin: 0;
		width: 98%;
		height: 400px;
		float: left;
	}

	img.alyssa {
		max-width:100%;
		max-height: 100%;
		margin-right: 0;
	}

	#footer {
		font-size: 14px;
	}


}

/* ZEENA */

#zeena {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: url(images/zeena.png);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right; 
	animation: border-flicker 20s ease infinite;
	pointer-events: none;
	z-index: 9999;
}

@keyframes border-flicker {
  0% {
    opacity:0;
  }
  97% {
    opacity:0;
  }
  97.5% {
    opacity:0.1;
  }
  98% {
    opacity:1;
  }
  98.5% {
    opacity:0.1;
  }
  99% {
    opacity:1;
  }
  99.5% {
    opacity:0.1;
  }
  99.75% {
    opacity:1;
  }
  100% {
    opacity:0.1;
  }
}
