@font-face {
    font-family: "BB";
    src: url(fonts/bb-book-B-ultraexpanded.otf);
}
@font-face {
    font-family: "BB2";
    src: url(fonts/bb-book-B-expanded.otf);
}
@font-face {
    font-family: "BB3";
    src: url(fonts/bb-book-B-regular.otf);
}

body {
	font-family: 'BB', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: -1px;
	text-align: left;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #E8E8E8;
}

div {
	width: 100%;
	float: left;
}

.description {
	width: 100%;
}

#container {
	width: 1000px;
	margin: 25px auto;
	float: none;
	clear: both;
}

#footer {
	width: 800px;
}

#sniffer {
	width: 200px;
}

#words {
	font-family: 'BB2';
}

/* STYLE --------------- */

.titles {
	font-family: 'BB';
	text-transform: uppercase;
}

.footnotes {
	font-family: Courier, monospace;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	letter-spacing: normal;
}

hr { 
	width: 100%;
	display: block;
    border: 3px solid black;
    border-style: none none solid; 
    color: #fff; 
    background-color: #fff; 
    margin: 0 0 0.5em 0; 
    padding: 0;
    float: left;
    clear: both;
}

p {
	margin: 0 0 .6em 0;
}
    
img {
	max-width: 100%;
	max-height: 750px;
	padding: 0;
	display: block;
    margin-bottom: 25px;
    margin-right: 25px;
    float: left;
	border-style: none;
	text-decoration: none;
}

img.half {
	max-width: 48%;
	float: left;
	margin-right: 1%
}

img.alyssa {
	max-width:30%;
	margin-right: 3.33%;
	float: left;
}

blockquote {
	font-size:26px;
	line-height: 30px;
}

video {
	display: block;
	margin:0;
    padding:0;    
}

::selection { background: #53d5f4; color: black; text-shadow: none; /* Safari */ }
::-moz-selection { background: #53d5f4; color: black; text-shadow: none; /* Firefox */ }


/* MARQUEE ------------- */
.marquee {
    animation: scroll-right-left 20s linear infinite;
    position: fixed;
	bottom: 0;
	left: 0;
	white-space: nowrap;
    overflow: hidden;
}

@keyframes scroll-right-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


/* LINKS --------------- */

a:link {
	font-family: 'BB2';
	text-decoration:none;
	color: black;
	font-weight: bold;
}

a:visited {
	text-decoration:none;
	color: black;
}

a:hover{
	text-decoration:none;
	color: #53d5f4;
}

a:active {
	text-decoration:none;
	color: #53d5f4;
}



/* RESPONSIVE ----------------------------- */

@media screen and (max-width:900px){

	#container {
		width: 98%;
	}

}

@media screen and (max-width:680px){
	
	body {
		font-size: 20px;
		line-height: 24px;
	}
	
	#container {
		margin: 2% 2%;
		width: 96%;
	}
	
	img {
		max-width: 100%;
	}

	img.half {
		max-width: 100%;
		margin-right: 25px;
	}

	video {
		width: 100% !important;
		height: auto !important;
	}

	img.alyssa {
		max-width:100%;
		max-height: 100%;
		margin-right: 0;
	}
}

